<p id="notice"><%= notice %></p>

<h1 class="text-center">Continents Populations</h1>
<hr />

<div class="table-responsive">
  <table class="table table-striped mt-5">
    <thead class="table-dark">
      <tr>
        <th>Sr. no</th>
        <th>Name</th>
        <th>Population</th>
        <th>Contribution</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @continents_populations.each_with_index do |continents_population, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= continents_population.name %></td>
          <td><%= continents_population.population %></td>
          <td><%= continents_population.contribution %>&nbsp %</td>
          <td><%= link_to 'Show', continents_population %></td>
          <td><%= link_to 'Edit', edit_continents_population_path(continents_population) %></td>
          <td><%= link_to 'Destroy', continents_population, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Continents Population', new_continents_population_path %>

<h3 class="my-5">Graph representation</h3>

<%= pie_chart ContinentsPopulation.contribution_distibution_for_graph(), suffix: "%" %>

